html,body{
    height: 100vh;
    margin:0px;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.8em;
    color:#666;
}

.pimg1{
    background-image: url("Images/image1.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    width:100vw;
    background-size: cover;
}

button{
    padding: 16px;
}

.ptext{
    background-color: black;
    position:relative;
    display: inline-block;
    top:50vh;
    left: 37vw;
    text-align: center;
    padding:24px 65px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Abyssinica SIL', serif;
    font-size: 28px;
}

a{
    text-decoration: none;
    border: 2px solid white;
    background-color: rgb(37, 12, 43);
    font-size: 29px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 75vh;
}

.textBg{
    color: white;
    text-align: center;
}


.pimg1,.pimg2,.pimg3{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 98vw;
}

h2{
    text-align: center;
}

.section{
    padding: 50px 80px;
    text-align: center;
}
section-light{
    background-color: #f4f4f4;
    color: #666;}

.pimg2{
    background-image: url("Images/image2.jpeg");
    min-height: 400px;
}

.pimg3{
    background-image: url("Images/image3.jpeg");
    min-height: 500px;
}